.video-position-container {
  width: 100%;
}
.video-position-container--left {
  display: flex;
  justify-content: center;
}
.video-position-container--right {
  display: flex;
  justify-content: center;
  float: none;
  clear: none;
}
.video-container {
  position: relative;
  box-sizing: border-box;
  border: 4px solid $off-white;

  &:hover {
    z-index: 1000;
    border-color: $primary-color;
    cursor: pointer;
  }
}
.video-container--sm img,
.video-container--md img,
.video-container--lg img,
.video-container--xl img {
  width: 100%;
}

.video--description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
  padding: 4px 6px;
  background-color: rgba(0, 0, 0, 0.675);

  span {
    color: $off-white;
  }
}
.video-container:hover .video--description {
  display: block;
}

@media (min-width: 1224px) {
  .video-position-container {
    width: 50%;
  }
  .video-position-container--left {
    justify-content: flex-end;
  }
  .video-position-container--right {
     justify-content: flex-start;
    float: right;
    clear: right;
  }
  .video-container--sm img { width: 180px; }
  .video-container--md img { width: 240px; }
  .video-container--lg img { width: 360px; }
  .video-container--xl img { width: 480px; }
}
