html
  head
    link(href="./css/cgmemory.css" type="text/css" rel="stylesheet")
    style
      | [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
  body(ng-app="cgmemory")
    .container(ng-controller="TimelineController as vm" ng-cloak)
      scroll-item-tracker(model="vm.topItem")
        .video-position-container(
          ng-repeat="video in vm.videos"
          ng-class="vm.getVideoContainerClass(video)"
        )
          .video-container.hvr-grow(ng-class="vm.getVideoThumbnailClass(video)")
            .video--description.animated.fadeIn
              //- span {{ video.snippet.title }}
              span {{ vm.topItem.snippet.publishedAt }} {{ video.snippet.publishedAt }}
            img.video--thumbnail(ng-src="{{ video.snippet.thumbnails.medium.url }}"
              title="{{ video.snippet.title }}"
              scroll-item="video")

  script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
  script(src="./js/libs.js")
  script(src="./js/bundle.js")

